//header
.logo {
	font-family: "Baloo Thambi 2";
	font-weight: 400;
	color: #ffffff;
	font-size: 45px;
	line-height: 40px;
	margin: 0 0 20px 75px;
	position: relative;
	width: 190px;

	&-descr {
		position: absolute;
		font-size: 18.5px;
		left: 0;
		top: 20px;
		width: 190px;
		opacity: 0;
	}

	&-title {
		margin-left: 40px;
	}

	&-lb {
		position: absolute;
		right: 129px;
	}

	&-brackets {
		color: #01c684;
	}

	&:hover .logo-descr {
		opacity: 1;
		top: 32px;
	}

	&:hover .logo-lb {
		right: 0px;
	}

	&:hover .logo-title {
		margin-left: 0;
	}

}

.header {
	position: fixed;
	width: 100%;
	z-index: 2;
	background-color: #212b35;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 70px;
	}

	&__menu {
		flex: 1 1 auto;
	}
}


.menu {

	&__body {
		display: flex;
		justify-content: center;
	}

	&__list {
		display: flex;
		position: relative;

		& :hover {
			background-color: #01c684;
		}

		&::after {
			position: absolute;
			top: 30px;
			content: "";
			width: 100%;
			height: 4px;
			background-color: #01c684;
		}
	}

	&__link {
		color: #ffffff;
		font-size: 18px;
		text-decoration: none;
		padding: 6px 24px;
		letter-spacing: 0.36px;
	}
}

.contacts-header {
	display: flex;
	align-items: center;

	& :hover {
		color: #01c684;
	}
}

.phone {
	color: #ffffff;
	font-size: 18px;
	margin: 5px 25px 0 0;
	line-height: 37px;
	letter-spacing: 0.36px;
}

.contacts {

	&__links {
		display: flex;
		align-items: center;

		a {
			display: flex;
			align-items: center;
		}
	}
}

.vk-link {
	margin: 0 10px;
}

#svg {
	fill: #fff;
}

#svg:hover {
	fill: #01c684;
}

//end of the header