// portfolio
.portfolio {
	position: relative;
	text-align: center;
	margin: 0 0 200px 0;
}

.title {
	color: #fff;
	font-size: 60px;
	font-weight: 700;
	letter-spacing: -1.2px;
	position: relative;
	text-align: left;

	&::before {
		content: '';
		width: 35px;
		height: 35px;
		position: absolute;
		left: -5px;
		top: -7px;
		border-top: 5px solid #01c684;
		border-left: 5px solid #01c684;
	}
}

.description {
	color: #ffffff;
	font-weight: 400;
	line-height: 23px;
	letter-spacing: -0.48px;
	width: 75%;
	margin: 20px 0 110px 0;
	text-align: left;
}

.portfolio-slider {
	width: 80%;
	height: 530px;
	border: 5px solid #ffffff;
	margin: 0 auto;
	overflow: hidden;

	&__body {
		width: 90%;
		margin: 40px auto;
		display: flex;
		justify-content: center;
	}

	&__item {
		text-align: center;
		position: relative;
		height: 380px;
	}

	&__cover {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		height: 100%;
		width: 197px;
		align-items: center;
		justify-content: center;
		background: rgba(0, 0, 0, 0.30);
		display: flex;
		opacity: 0;
		cursor: pointer;
		overflow: hidden;

		&:hover {
			opacity: 1;
			transition: 0.4s;
		}
	}
}

.portfolio-img {
	max-width: 197px;
	min-height: 100%;
	object-fit: cover;
}

//end of the portfolio